<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <meta charset="UTF-8">
        <meta name="description" content="Sustainabeanity">
        <%- include('../partials/styles') %>
        <style>
            .body{ 
                background-color: white;
                width: 100%;
            }
            .graphs{
                margin-left: 15%;
                margin-right: 15%;
                width: 60;
                height: auto;
                padding-bottom: 5%;
            }
        </style>
    </head>
    <body style="background-color: #333333">
        <div style="background-color: #4f7942; margin-top: 100px; height: 80%;">
            <br>
            <div style="padding-left: 20%; padding-right: 20%;">
                <h1><%= storename %></h1>
             <h4><%= storestate %></h4>
            </div>
            <%- include('../partials/header') %>
            <div id="storedata" style="visibility: hidden; height: 0%;"><%- JSON.stringify(storedata)%></div>
            <div id="storename" style="visibility: hidden; height: 0%;"><%= storename%></div>
            <div id="storestate" style="visibility: hidden; height: 0%;"><%= storestate%></div>
            <div id="username" style="visibility: hidden; height: 0%;"><%= username %></div>
            <div id="apikey" style="visibility: hidden; height: 0%;"><%= apikey%></div>
            <br>
            <br>
            <div class="body">
                <div class="graphs">
                    <div id="g3"></div>
                    <br>
                    <div id="g1"></div>
                    <br>
                    <div style="margin-left: 5%; padding-right: 10%;" id="g2"></div>
                     <br>
                    <div id="g4"></div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <script src="/js/plotly-latest.min.js"></script>
        <script src="/js/graph.js"></script>
    </body>
</html>